/* Master Styles */
/* color scheme: blackish:#202020, dark gray:#3F3F3F, gray:#707070, yellow:#FFDF6C, white:#FFFFFF, cornsilk */
body {
    /* font-family: "Lato", sans-serif; //Lato is first choice, sans-serif is backup*/
    margin: 0px;
    background-color:#202020;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav Styles */
.navwrapper {
    display: flex;
    justify-content: space-between;
    padding: 36px;
}

.leftnav {
    display: flex;
}

.navwrapper > .leftnav > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navlinkwrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navlinkwrapper a {
    color:cornsilk;
    text-decoration: none;
    transition: color 0.5s;
}

.navlinkwrapper:hover {
    border-bottom: 1px solid white;
}

.navlinkwrapper a:hover {
    color: white;
}

.activenavlink {
    border-bottom: 1px solid #FFDF6C;
}

.activenavlink a {
    color: #FFDF6C !important;
}

.name {
    color: #707070
}

/* Portfolio Styles */

.portfoliowrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolioitemwrapper {
    position: relative;
}

.portfoliobkg {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgtextwrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logowrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.imgtextwrapper .subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 600;
}

.imgtextwrapper:hover .subtitle {
    font-weight: 600;
    color:cornsilk;
}

.img-darken {
    transition: 1s;
    filter: brightness(30%);
}

/* About page */
.twocolwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profilepicwrapper img{
    width: 80%;
    padding-left: 40px;
}

.profilecontentwrapper {
    padding: 30px;
}

.profilecontentwrapper h1 {
    color:#FFDF6C;
}

.profilecontentwrapper p {
    color:cornsilk;
}

/*fonts.google.com 1:33:18
click the + button and use the embed code
paste it into the beginnings of each page above the
content*/

/* Art page */

.imgtextwrapper .transplogowrapper {
    transition: .5s;
    filter: opacity(0%);
}

.imgtextwrapper:hover .transplogowrapper {
    filter: opacity(100%) !important;
}

/* Food page */

.foodwrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.fooditemwrapper {
    position: relative;
}

.foodbkg {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(50%);
}

.recipelink a {
    color: #FFDF6C;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 500px;
    /* position: absolute;
    top: 70;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375%; */
    
}

.foodlogo {
    position: absolute;
    top: 70;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375%;
}

.text {
    color: ivory;
}

.title {
    color: #FFDF6C;
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
}

.text h3 {
    text-transform: uppercase;
}

.text a {
    color: ivory;
}

.text p {
    color: ivory;
}

.foodpic img {
    width: 60%;
    padding-top: 80px;
    padding-left: 130px;
}